/* *Global Styles*/

:root {
    --background-color: rgb(10, 0, 18);
    --button-background-color: rgb(46, 47, 56);
    --button-color: rgb(235, 235, 236);
    --clear-color: rgb(255, 96, 96);
    --operator-color: rgb(95, 62, 122);
    --previous-number-color: rgb(114, 108, 119);
    --current-number-color: rgb(255, 255, 255);
}

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    list-style-type: none;
}

body {
    display: flex;
    place-items: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

#calc-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 20px;
}

#display-container {
    height: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    padding: 3rem 1rem 0rem;
}

#previous-number {
    color: var(--previous-number-color);
}

#current-number {
    color: var(--current-number-color);
    font-size: 2rem;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
    padding: 1rem 1rem 2rem;
    background-color: var(--background-color);
    border-radius: 20px;
}

.key {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    place-items: center;
    place-content: center;
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 15px;
}

.key:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.clear {
    background-color: var(--clear-color);
}

.operator,
.equal,
.sign,
.percentage {
    background-color: var(--operator-color);
}

@media screen and (min-height: 600px) {
    #display-container {
        height: 8rem;
    }
}
