/* *Global Styles*/

:root {
    --background-color: rgb(10, 0, 18);
    --button-background-color: rgb(46, 47, 56);
    --button-color: rgb(235, 235, 236);
    --clear-color: rgb(255, 96, 96);
    --operator-color: rgb(95, 62, 122);
    --previous-number-color: rgb(114, 108, 119);
    --current-number-color: rgb(255, 255, 255);
}

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    list-style-type: none;
}

body {
    display: flex;
    place-items: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

#calc-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 20px;
}

#display-container {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    padding: 0rem 1rem;
}

#previous-number {
    color: var(--previous-number-color);
}

#current-number {
    color: var(--current-number-color);
    font-size: 2rem;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
    padding: 1rem 1rem 2rem;
    background-color: var(--background-color);
    border-radius: 20px;
}

.key {
    width: 3rem;
    height: 3rem;
    display: flex;
    place-items: center;
    place-content: center;
    color: var(--button-color);
    background-color: var(--button-background-color);
    font-size: 1rem;
    border: none;
    border-radius: 15px;
}

.clear {
    background-color: var(--clear-color);
}

.operator,
.equal,
.sign {
    background-color: var(--operator-color);
}
